/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/filemanager
/public/admin
/public/frontend
/thumbs
/uploads
/public/image
